$out-of-range-color: lighten(rgb(255, 254, 254), 40%) !default;
$out-of-range-bg-color: lighten(#333, 70%) !default;

$calendar-border: rgb(253, 253, 253) !default;
$cell-border: rgb(255, 255, 255) !default;

$border-color: rgb(255, 255, 255) !default;

// Each calendar segment is 1/7th.
$segment-width: 0.14286% !default;

$time-selection-color: rgba(0, 0, 0, 0.5) !default;
$time-selection-bg-color: rgba(0, 0, 0, 0.5) !default;
$date-selection-bg-color: rgba(0, 0, 0, 0.1) !default;

$event-bg: #f8f8f8 !default;
$event-border: darken(#3174ad, 10%) !default;
$event-outline: #3b99fc !default;
$event-color: rgb(7, 3, 229) !default;
$event-border-radius: 5px !default;
$event-padding: 2px 5px !default;
$event-zindex: 4 !default;

$btn-color: #373a3c !default;
$btn-bg: #fff !default;
$btn-border: #ccc !default;

$current-time-color: #ff0492 !default;

$rbc-css-prefix: rbc-i !default;

$today-highlight-bg: #ffddf9 !default;
