


html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #e6ecee;
  font-family: Arial, Helvetica, sans-serif;
}


header {
  width: 100%;
}

#app {
  width: 100%;
  flex-wrap: wrap;
  display:block;
}

h1 {
  text-align: left;
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 50px;
}

h2 {
  text-align: left;
  margin: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;

}


h3 {
  text-align: left;
  margin: 2rem;
  font-size: 25px;
  color: rgb(208, 0, 0);
}

.edit-controls {
  display: flex;
  flex-direction: row;
  }


.pill-container {
  display: grid;
  grid-template-columns: 1fr 1fr ; 
}
  /* grid-gap: 20px;
  background-color: rgb(255, 255, 255);
  padding: 5rem 2rem;
  border: solid;
  border-color: rgb(0, 8, 116); */



.pill-names{
  display: grid;
  grid-template-columns: auto 1fr ; 
  padding:1rem;
  column-gap: 1rem;
  align-self: center;
  /* flex-direction: row; */
  /* justify-content: space-ar; */
  /* border: solid red;  */
} 

.pill-list {
  /* float:right; */
  background-color: rgb(25, 25, 55);
  color: white;
}


.pill-button {
  align-self: center;
  width: 60%;
  background: #4595fe;
  border-radius: 50%;
  padding: 2rem;
  justify-content: left;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}