html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0;
  background: rgb(250,248,255);
background: -moz-linear-gradient(180deg, rgba(250,248,255,1) 20%, rgba(133,172,239,1) 70%, rgba(250,248,255,1) 95%);
background: -webkit-linear-gradient(180deg, rgba(250,248,255,1) 20%, rgba(133,172,239,1) 70%, rgba(250,248,255,1) 95%);
background: linear-gradient(180deg, rgba(250,248,255,1) 20%, rgba(133,172,239,1) 70%, rgba(250,248,255,1) 95%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#faf8ff",endColorstr="#faf8ff",GradientType=1);
}

header {
  width: 100%;
}

#app {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}

h1 {
  text-align: center;
  margin: 20px auto;

}

.canvasContainer {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin: 0;
}

canvas {
  border: solid black 5px;
}

h3 {
  text-align: center;
  margin: 7px auto;
}

.colors-erasers {
  margin: 20px;
  display: flexbox;
  flex-wrap: wrap;
}

.palette {
  width: 240px;
  height: 200px;
  padding: 5px;
  margin: 10px 0;
  border-radius: 20px;
  background-color: rgba(165, 42, 42, 0.462);
}

.icon {
  margin: 6px;
  font-size: 25px;
  justify-content: left;
}

button {
  width: 100px;
  height: 30px; 
  background: white;
 border-radius: 5px;
 justify-content: right;
}

.erase-clear {
  background-color: pink;
  height: 50px;
  border-radius: 10px;
}


/* .canvas {
  margin: auto;
  justify-content: center;
  /* border: 'black solid 10px';
  border-style: solid;
  display: grid;
  grid-template-columns: repeat(80, 1fr);
  grid-template-rows: repeat(50, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  } */